
div {
    display: block;
}

a {
	font-color:black;
	text-decoration: none;
}

.fa {
  color: black;
}
.fa:hover {
    color: white;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: white;
  border-bottom: black;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
  font-color: green;
  
}
 .fixed-nav-bar a{
    color: #383838;
    font-family: "Montserrat";
    font-size: 1rem;
    letter-spacing: .1rem;
    padding-left: 50px;
    line-height: 3.0rem;
 }
  .fixed-nav-bar a:hover{
    color: #FA5568;
    font-family: "Montserrat";
    font-size: 1rem;
    letter-spacing: .1rem;
    padding-left: 50px;
    line-height: 3.0rem;
 }

 #logo {
    color: black;
    font-family: "Homemade Apple";
    font-size: 1.05rem;
    letter-spacing: .1rem;
 }

#one {
    position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: none;
    left: 0;
    right: 0;
    bottom: 0;
}



#two {
	width: 125%;
	height: 105%;
	position: absolute;
	top: 105%;
	left: 0;
	background-color: white;
}

#three {
    width: 125%;
    height: 105%;
    position: fixed;
    top: 210%;
    left: 0;
    opacity: none;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-image:url("milan.jpg");
    background-size: contain;
    background-size: cover;
}
#four {
    width: 125%;
    height: 105%;
    position: absolute;
    top: 315%;
    left: 0;
    background-color: purple;
}
#five {
    width: 125%;
    height: 105%;
    position: absolute;
    top: 420%;
    left: 0;
    background-color: green;
}
#six {
    width: 125%;
    height: 105%;
    position: absolute;
    top: 525%;
    left: 0;
    background-color: red;
}

#top {
    width: 2%;
    height: 2%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: none;
}

#home {
	position: absolute;
	top: 10%;
	left: 5%;
	color: black;
	text-align: left;
	width: 80%;
	font-family: "Montserrat";
    text-transform: lowercase;
    font-size: 2rem;
    letter-spacing: .1rem;
    margin: 0rem;
    line-height: 2.0rem;
}

#title {
	font-family: "Montserrat";
    text-transform: lowercase;
    font-size: 4rem;
    letter-spacing: .1rem;
    margin: 0rem;
    line-height: 10rem;
}
#title-para {
	font-family: "Montserrat";
    text-transform: lowercase;
    font-size: 2rem;
    letter-spacing: .1rem;
    margin: 0rem;
    line-height: 1.5rem;
}

#contact {
	font-family: "Montserrat";
    text-transform: lowercase;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    margin: 0rem;
    line-height: 5rem;
}

#bio {
	position: absolute;
	top: 15%;
	left: 5%;
	color: black;
	text-align: left;
	width: 100%;
	font-family: Verdana;
	font-size: 45;
}

#header-font {
	font-family: "Montserrat";
    text-transform: lowercase;
    font-size: 3rem;
    letter-spacing: .1rem;
    margin: 0rem;
    line-height: 0.5rem;
}

#header-underline {
	width: 40%;
    height: 105%;
    position: absolute;
    top: 110%;
    left: 10%;
    background-color: none;
    border-bottom: black;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
}

#resume {
	position: absolute;
	top: 15%;
	left: 5%;
	color: black;
	text-align: left;
	width: 100%;
	font-family: Verdana;
	font-size: 45;
}

#work {
	position: absolute;
	top: 15%;
	left: 5%;
	color: black;
	text-align: left;
	width: 100%;
	font-family: Verdana;
	font-size: 45;
}

#im {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-image:url("piazza.jpg");
    background-size: contain;
    background-size: cover;
    opacity: .95;
}
#im-italy {
    background-repeat: no-repeat;
    background-image:url("italy.jpg");
    background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}
#im-milan {
    background-repeat: no-repeat;
    background-image:url("milan.jpg");
    background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}

