<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro">

div {
    display: block;
}

#one {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: aqua;
	opacity: 90%;
}

#two {
	width: 100%;
	height: 125%;
	position: absolute;
	top: 125%;
	left: 0;
	background-color: white;
}
#three {
    width: 100%;
    height: 125%;
    position: absolute;
    top: 250%;
    left: 0;
    background-color: green;
    opacity: .98;
}
#four {
    width: 100%;
    height: 125%;
    position: absolute;
    top: 375%;
    left: 0;
    background-color: white;
}

#home {
	position: absolute;
	top: 20%;
	color: black;
	text-align: center;
	width: 100%;
}

#title {
	font-family: Verdana;
	font-size: 80;
}

#para {
	font-family: Verdana;
	font-size: 45;
}