
div {
    display: block;
}
.fa {
  color: black;
}
.fa:hover {
    color: white;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: white;
  border-bottom: black;
  border-style: solid;
  border-width: 0;
    border-bottom-width: 2.5px;
}
#one {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	opacity: none;
}
#im {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("skyline.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    opacity: .95;
}

#two {
	width: 100%;
	height: 105%;
	position: absolute;
	top: 105%;
	left: 0;
	background-color: white;
}
#three {
    width: 100%;
    height: 105%;
    position: absolute;
    top: 210%;
    left: 0;
    background-color: green;
    opacity: none;
}
#four {
    width: 100%;
    height: 105%;
    position: absolute;
    top: 315%;
    left: 0;
    background-color: white;
}

#home {
	position: absolute;
	top: 20%;
	left: 5%;
	color: black;
	text-align: left;
	width: 80%;
	font-family: "Montserrat";
    text-transform: lowercase;
    font-size: 2rem;
    letter-spacing: .1rem;
    margin: 0rem;
    line-height: 0.0rem;
}

#title {
	font-family: "Montserrat";
    text-transform: lowercase;
    font-size: 6rem;
    letter-spacing: .1rem;
    margin: 0rem;
    line-height: 9rem;
}
#title-para {
	font-family: "Montserrat";
    text-transform: lowercase;
    font-size: 2rem;
    letter-spacing: .1rem;
    margin: 0rem;
    line-height: 3.0rem;
}

#contact {
	font-family: "Montserrat";
    text-transform: lowercase;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    margin: 0rem;
    line-height: 10.0rem;
}

#bio {
	position: absolute;
	top: 110%;
	color: black;
	text-align: center;
	width: 100%;
	font-family: Verdana;
	font-size: 45;
}

#header-font {
	font-size: 80;
	color: blue;
}

#resume {
	position: absolute;
	top: 220%;
	color: black;
	text-align: center;
	width: 100%;
	font-family: Verdana;
	font-size: 45;
}

#work {
	position: absolute;
	top: 320%;
	color: black;
	text-align: center;
	width: 100%;
	font-family: Verdana;
	font-size: 45;
}